[Unit]
Description=Prometheus node_exporter system metric collector
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/prometheus/bin/node_exporter

[Install]
WantedBy=multi-user.target
Alias=node_exporter.service
